<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Post</title>
</head>
<body>
    <form action="/posts/save" method="POST">
        <div>
            <input type="text" name="title" placeholder="Título do Post">
            <input type="text" name="content" placeholder="Conteúdo do Post">
        </div>
        <div>
            <input type="submit" value="Cadastrar">
        </div>
    </form>
</body>
</html>