<h1>Edite o seu livro</h1>
<form action="/book/updatebook" method="POST" class="form">
    <input type="hidden" name="id" value="{{book.id}}">
    <div class="form-control">
        <label for="title">Título: </label>
        <input type="text" name="title" placeholder="Digite o nome do livro" value="{{book.title}}">
    </div>
    <div class="form-control">
        <label for="pagesqty">Quantidade de páginas: </label>
        <input type="text" name="pagesqty" placeholder="Digite a quantidade de páginas", value="{{book.pagesqty}}">
    </div>
    <input type="submit" class="submit" value="Editar">
</form>